

<h1>Detalle de País</h1>

<div>
    <h2>@ViewBag.Pais.Nombre</h2>
    <img src="/img/@ViewBag.Pais.ImgBandera" alt="@ViewBag.Pais.Nombre" width="200" height="100" />
    <p>Población: @ViewBag.Pais.Poblacion</p>
    <p>Fecha de Independencia: @ViewBag.Pais.FechaIndependencia.ToShortDateString()</p>
    <p>Atractivos Turísticos: @ViewBag.Pais.AtractivosTuristicos</p>
    
</div>